<!DOCTYPE html>
<html lang="en" class="p-0 text-xl text-gray-200 bg-bg">
  <head>
    <title>{{ title }}</title>
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/assets/styles/index.css">
    <link rel="stylesheet" href="/assets/styles/prism-coldark-dark.css">
    <link
      rel="alternate"
      type="application/atom+xml"
      title="{{ metadata.title }}"
      href="/feed.xml"
    >
  </head>
  <body>
    {{ include "partials/nav.vto" }}
    {{ if fullWidth }}
      {{ content }}
    {{ else }}
      <div class="py-10 px-6 mx-auto max-w-2xl text-left">{{ content }}</div>
    {{ /if }}
    <!-- deno-fmt-ignore -->
    {{ getBundle "fontawesome" }}
  </body>
</html>
