<!DOCTYPE html>
<html lang="en" class="p-0 text-xl text-gray-200 bg-bg">
  <head>
    <title>{{ title }}</title>
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/assets/styles/index.css">
  </head>
  <body>
    {{ include "partials/nav.vto" }}
    {{ content }}
    <!-- deno-fmt-ignore -->
    {{ getBundle "fontawesome" }}
  </body>
</html>
