---
layout: default.vto
---

<article class="mt-14" data-pagefind-body>
  <header class="mb-10">
    <h1 class="mb-4 text-5xl font-bold">{{ title }}</h1>
    <p class="font-sans text-sm text-gray-400">
      {{ page.date |> date("%-d %b %Y") }}
    </p>
    <hr class="mt-6 w-12 border-gray-600">
  </header>
  <div
    class="mt-10 space-y-6 font-light tracking-wide leading-relaxed prose-links post-content"
  >
    {{ content }}
  </div>
</article>
{{ include "partials/lightbox.vto" }}
{{ set newerPost = collections.posts |> getNextCollectionItem }}
{{ set olderPost = collections.posts |> getPreviousCollectionItem }}
{{ include "partials/post-nav.vto" { newerPost, olderPost } }}
