---
title: Page not found
layout: default.vto
permalink: 404.html
---

<h1 class="mt-8 mb-6 text-3xl font-bold">{{ title }}</h1>
<p>
  Sorry, that page doesn't exist. Try heading back to the <a
    href="/"
    class="underline text-accent underline-offset-3 decoration-2 hover:text-accent-dark"
  >home page</a>.
</p>
