---
title: Marx
layout: default.vto
permalink: /
---

<div class="py-10 px-6 mx-auto max-w-2xl">
  {{ include "partials/tag-grid.vto" { tags: bookmarkIndex.tags } }}
  <div class="mt-8">
    {{ for index, bookmark of bookmarkIndex.bookmarks }}
      {{ include "partials/bookmark-item.vto" { bookmark } }}
      {{ if index < bookmarkIndex.bookmarks.length - 1 }}
        <hr class="border-gray-700">
      {{ /if }}
    {{ /for }}
  </div>
</div>
