---
layout: default.vto
pagination:
    data: bookmarkIndex.tags
    size: 1
    alias: tagPage
permalink: "/tags/{{ tagPage.slug }}/"
eleventyComputed:
    title: "{{ tagPage.name }}"
---

<div
  class="flex flex-col md:flex-row gap-8 py-10 px-6 mx-auto max-w-5xl"
  data-pagefind-body
>
  <aside class="w-full md:w-64 md:shrink-0 md:order-2">
    {{
      include "partials/tag-sidebar.vto" {
        tagGroups: bookmarkIndex.tagGroups,
        activeTag: tagPage.name,
        filtered: true,
      }
    }}
  </aside>

  <div class="flex-1 min-w-0 md:order-1">
    <div>
      {{ for index, bookmark of tagPage.bookmarks }}
        {{ include "partials/bookmark-item.vto" { bookmark } }}
      {{ /for }}
    </div>
  </div>
</div>
