@import "tailwindcss";

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/fira-sans-light.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/fira-sans-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/fira-sans-bold.woff2") format("woff2");
}

@theme {
  --font-sans: "Fira Sans", sans-serif;
  --color-bg: #282c35;
  --color-accent: #82c6bf;
  --color-accent-dark: #68a099;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
}
