<nav class="flex justify-between items-center py-4 px-6 mx-auto max-w-6xl">
  <a
    href="/"
    class="font-sans text-xl font-bold tracking-wide text-white hover:text-gray-300"
  >Marx</a>
  <div class="flex items-center gap-10">
    <a
      href="/search/"
      aria-label="Search"
      class="text-white hover:text-gray-300"
    >
      <i class="fa-solid fa-magnifying-glass"></i>
    </a>
    <a
      href="{{ metadata.github }}"
      aria-label="GitHub repository"
      class="text-white hover:text-gray-300"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fa-brands fa-github"></i>
    </a>
  </div>
</nav>
