{{ if pagination.href.previous || pagination.href.next }}
  <nav class="flex justify-between items-center pt-10 pb-4 font-sans text-base">
    {{ if pagination.href.previous }}
      <a
        href="{{ pagination.href.previous }}"
        class="text-gray-400 hover:text-gray-200"
      >&larr; Newer posts</a>
    {{ else }}
      <span></span>
    {{ /if }}
    {{ if pagination.href.next }}
      <a
        href="{{ pagination.href.next }}"
        class="text-gray-400 hover:text-gray-200"
      >Older posts &rarr;</a>
    {{ else }}
      <span></span>
    {{ /if }}
  </nav>
{{ /if }}
