{{ if newerPost || olderPost }}
  <nav
    class="grid grid-cols-2 gap-6 pt-8 mt-20 text-base border-t border-gray-600"
  >
    {{ if newerPost }}
      <a href="{{ newerPost.url }}" class="group">
        <p
          class="mb-2 font-sans text-lg font-bold text-gray-200 group-hover:text-white"
        >
          <span class="group-hover:text-accent">&larr;</span>
          {{ newerPost.data.title }}
        </p>
        <p class="mt-2 mb-2 font-sans text-sm text-gray-500">
          {{ newerPost.date |> date("%-d %b %Y") }}
        </p>
      </a>
    {{ else }}
      <span></span>
    {{ /if }}
    {{ if olderPost }}
      <a href="{{ olderPost.url }}" class="text-right group">
        <p
          class="mb-2 font-sans text-lg font-bold text-gray-200 group-hover:text-white"
        >
          {{ olderPost.data.title }}
          <span class="group-hover:text-accent">&rarr;</span>
        </p>
        <p class="mt-2 mb-2 font-sans text-sm text-gray-500">
          {{ olderPost.date |> date("%-d %b %Y") }}
        </p>
      </a>
    {{ else }}
      <span></span>
    {{ /if }}
  </nav>
{{ /if }}
