<div class="flex-shrink-0 w-10 font-sans text-center text-accent">
  <div class="text-2xl font-bold leading-none">{{ date |> date("%-d") }}</div>
  <div class="text-xs tracking-wide uppercase">{{ date |> date("%b") }}</div>
  <div class="text-xs tracking-wide">{{ date |> date("%Y") }}</div>
</div>
