<div
  class="flex flex-col items-center font-sans leading-none text-gray-400 shrink-0"
>
  <span class="text-2xl font-bold">{{ date |> date("%-d") }}</span>
  <span class="text-xs uppercase">{{ date |> date("%b %Y") }}</span>
</div>
